# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Ruben Leenknecht\Documenten\School\P&O 2\Github\Groepswerk\groep-1\Programmeren_Ruben\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
